  <div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-m dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li>
          <a
              routerLink="/sanitario/mis-peticiones"
              class="btn btn-ghost"
              routerLinkActive="text-secondary"
            >
            Mis peticiones
          </a>
        </li>
        <li>
          <a
            routerLink="/sanitario/home"
            class="btn btn-ghost"
            routerLinkActive="text-secondary">
            Peticiones médicas
          </a>
        </li>
        <li>
          <a
            routerLink="/sanitario/toma-muestra"
            class="btn btn-ghost"
            routerLinkActive="text-secondary">
            Tomas de muestra
          </a>
        </li>
        <li>
          <a
            *ngIf="authService.esMedico"
            routerLink="/sanitario/informe"
            class="btn btn-ghost"
            routerLinkActive="text-secondary">
            Informes
          </a>
        </li>
        <li>
          <a
            routerLink="/sanitario/resultados"
            class="btn btn-ghost"
            routerLinkActive="text-secondary">
            Resultados
          </a>
        </li>

        <li>
          <a
            *ngIf="authService.esMedico"
            routerLink="/sanitario/manage"
            class="btn btn-ghost"
            routerLinkActive="text-secondary">
            Gestion de usuarios
          </a>
        </li>
        <li>
          <a
            *ngIf="authService.esMedico"
            routerLink="/sanitario/analito"
            class="btn btn-ghost"
            routerLinkActive="text-secondary">
            Analitos
          </a>
        </li>
        <li>
          <a
            *ngIf="authService.esMedico"
            routerLink="/sanitario/enfermedad"
            class="btn btn-ghost"
            routerLinkActive="text-secondary">
            Enfermedades
          </a>
        </li>
      </ul>
    </div>
    <a routerLink="/sanitario/home" class="btn btn-ghost text-xl font-montserrat">
      <span class="text-secondary">Analist emulator</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          routerLink="/sanitario/mis-peticiones"
          class="btn btn-ghost"
          routerLinkActive="text-secondary">
          Mis Peticiones
        </a>
      </li>
      <li>
        <a
          routerLink="/sanitario/home"
          class="btn btn-ghost"
          routerLinkActive="text-secondary">
          Peticiones médicas
        </a>
      </li>
      <li>
        <a
          routerLink="/sanitario/toma-muestra"
          class="btn btn-ghost"
          routerLinkActive="text-secondary">
          Tomas de muestra
        </a>
      </li>

       <li>
        <a
          routerLink="/sanitario/resultados"
          class="btn btn-ghost"
          routerLinkActive="text-secondary">
          Resultados
        </a>
      </li>

      <li>
        <a
          *ngIf="authService.esMedico"
          routerLink="/sanitario/informe"
          class="btn btn-ghost"
          routerLinkActive="text-secondary">
          Informes
        </a>
      </li>
      <li>
        <a
          *ngIf="authService.esMedico"
          routerLink="/sanitario/manage"
          class="btn btn-ghost"
          routerLinkActive="text-secondary">
          Gestion de usuarios
        </a>
      </li>
      <li>
        <a
          *ngIf="authService.esMedico"
          routerLink="/sanitario/analito"
          class="btn btn-ghost"
          routerLinkActive="text-secondary">
          Analitos
        </a>
      </li>
      <li>
        <a
          *ngIf="authService.esMedico"
          routerLink="/sanitario/enfermedad"
          class="btn btn-ghost"
          routerLinkActive="text-secondary">
          Enfermedades
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-end gap-4">
    @if ( authService.authStatus() === 'autenticado' ) {
    <button class="btn btn-ghost">
      {{ authService.usuario()()?.nombre }} {{ authService.usuario()()?.apellidos }}
    </button>
    <button class="btn btn-sm btn-error" (click)="authService.logout()" routerLink="/auth/login">
      Salir
    </button>
    }

    @else {
      <a class="btn btn-ghost">...</a>
    }
  </div>
